.show-form {
  background-color: $gray-lighter;
  padding: 20px;
}
.flats .container {
  margin: 20px auto;
}
.header-flat-details {
  display: flex;
  align-items: center;
}
.flats .form {
  background-color: $gray-lighter;
  padding: 20px;
  margin: 20px;
}
